# Project Specific Files
occ_dump
occ_rawio
occ_loopback
PacketAnalyzer
test_files
occ_flashprog
tags
cscope.files
PacketAnalyzerDebug
stress.*
O.linux-x86_64/
O.Common/
occ2csv
sms2csv

# Backup files
*~
*\#

# CodeBlocks project files
*.layout

# Temporary files
*.new
*.diff
*.tmp
*.swp

# Object files
*.slo
*.lo
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.lai
*.la

# Shared objects
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i.*86
*.x86_64
*.hex
*.bin
