record(bo, "$(P)Trigger")
{
    field(DTYP, "asynInt32")
    field(OUT,  "@asyn($(PORT))Trigger")
    field(FLNK, "$(P)Output.PROC")
    field(ZNAM, "None")
    field(ONAM, "Discover")
}
record(waveform, "$(P)Output")
{
    field(DTYP, "asynOctetRead")
    field(INP,  "@asyn($(PORT))Output")
    field(FTVL, "CHAR")
    field(NELM, "16192")
}
# Upgrade record from BasePlugin
record(longin, "$(P)ProcCount")
{
    field(FLNK, "$(P)Output.PROC")
}
